{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Main content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <h5 class="card-title">Eva Profile</h5>

            <div class="row">
              <h5>依個係我變身時候既樣</h5>
            </div>

            <div class="row">
              <img src="{% static 'dist/img/eva.PNG' %}" alt="Girl in a jacket" />
            </div>

            <div class="row">
              <h5>變完身既樣</h5>
            </div>
            <div class="row">
              <img src="{% static 'dist/img/peva.jpg' %}" alt="Girl in a jacket" width="500" height="600" />
            </div>

            <div class="row">
              <h5>消滅敵人既時候</h5>
            </div>
            <div class="row">
              <img src="{% static 'dist/img/eva4.jpg' %}" alt="Girl in a jacket" width="300" height="300" />
              <img src="{% static 'dist/img/eva5.jpg' %}" alt="Girl in a jacket" width="300" height="300" />
              <img src="{% static 'dist/img/eva6.jpg' %}" alt="Girl in a jacket" width="300" height="300" />
            </div>

            <div class="row">
              <h5>嬴左既樣</h5>
            </div>
            <div class="row">
              <img src="{% static 'dist/img/eva7.jpg' %}" alt="Girl in a jacket" width="900" height="700" />
            </div>

            <div class="row">
              <h5>輸左既樣</h5>
            </div>
            <div class="row">
              <img src="{% static 'dist/img/eva10.png' %}" alt="Girl in a jacket" width="900" height="500" />
            </div>

            <div class="row">
              <h5>開心既樣</h5>
            </div>
            <div class="row">
              <img src="{% static 'dist/img/eva8.jpg' %}" alt="Girl in a jacket" />
            </div>

            <div class="row">
              <h5>發福既樣</h5>
            </div>
            <div class="row">
              <img src="{% static 'dist/img/eva9.jpg' %}" alt="Girl in a jacket" width="500" height="800" />
            </div>

            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}
