<!-- extends -->
{% extends 'base.html' %}
<!-- /.extends -->

<!-- load -->
{% load static %}
<!-- /.load -->

<!-- block title -->
{% block title %} Import Data {% endblock %}
<!-- /.title -->

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Upload player information</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="POST" class="ui form" enctype="multipart/form-data">
          {% csrf_token %} {% comment %} form {% endcomment %} {{form}}
          <button type="submit" class="ui button primary">Confirm</button>
        </form>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock %}
